<p style="font-size: 14px; font-weight: 700; color: #2b1c1c;">Welcome to MediaCraft</p>
<p style="font-size: 14px; font-weight: 700; color: #2b1c1c;">Dear {{name}},</p>
<p style="font-size: 14px; font-weight: 400; color: #2b1c1c;">
  Please verify your email by clicking the link below:
</p>
<p><a href="{{link}}" style="color: #2b1c1c;">{{link}}</a></p>
<p>Warm regards,<br />The MediaCraft Team</p>
