<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MREIF</title>
        
        <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet">
        <style>
		body {
			background: #f0f0f0;
			font-family: "Satoshi", sans-serif;
            margin: 0;
            padding: 0;
		}

		table {
			border-spacing: 0;
		}

		td {
			padding: 0;
		}

		img {
			border: 0;
		}

		a {
			color: inherit;
		}

		hr {
			border: 0.5px solid rgba(196, 196, 196, 0.5);
		}
        </style>
    </head>
    <body>
        <div style="
				width: 100%;
				table-layout: fixed;
				background: #f0f0f0;
                padding: 0;
                margin: 0;
			
			">
            <table width="100%" style="margin: 0 auto; padding: 0; width: 100%; max-width: 600px; border-spacing: 0">
                <tr>
                    <td>
                        <table width="100%" style="
								background: #ffffff;
								margin: 2rem 0 1rem 0;
								border-radius: 10px;
							">
                            <tr>
                                <td style="padding: 0.5rem 5% 0 5%;
								">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <a href="{{websiteLink}}">
                                                    <img
                                                        src="{{logoUrl}}"
                                                        alt="Logo"
                                                        width="60"
                                                        style="margin: 1rem 0 0 0"
                                                    >
                                                </a>
                                                <p style="
												font-size: 14px;
												font-weight: 700;
												color: #2b1c1c;
											">
                                                    Verify your Account
                                                </p>
                                                <p style="
                                                    font-size: 14px;
                                                    font-weight: 400;
                                                    color: #2b1c1c;
                                                ">
                                                    Hello {{customerName}},
                                                </p>
                                                <p style="
                                                    font-size: 14px;
                                                    font-weight: 400;
                                                    color: #2b1c1c;
                                                    margin: 1rem 0;
                                                ">
                                                    Kindly use the code to complete your account verification. This
													code expires in 5 minutes
                                                </p>
                                                <h1 style="
                                                    text-align: start;
                                                    font-size: 18px;
                                                    color: #018f3b;
                                                ">
                                                    Enter the OTP {{otp}}
                                                </h1>
                                                <p style="
											font-size: 14px;
											font-weight: 400;
											color: #2b1c1c;
											margin: 1rem 0;
										">
                                                    By verifying your email, you agree to our Terms of Service and
													Privacy
													Policy.
                                                </p>
                                                <p style="
														font-size: 14px;
														font-weight: 400;
														color: #2b1c1c;
														margin: 1rem 0;
													">
                                                    Best regards,
                                                    <br>
                                                    MREIF
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%" style="background-color:rgba(37, 37, 37, 0.884); padding: 0 5%;">
                                        <tr>
                                            <td align="center" style="padding-top: 1rem;">
                                                <table
                                                    role="presentation"
                                                    cellspacing="0"
                                                    cellpadding="0"
                                                    border="0"
                                                    align="center"
                                                >
                                                    <tr>
                                                        <td align="center" style="display: inline-block; padding: 0 5px;">
                                                            <table
                                                                role="presentation"
                                                                cellspacing="0"
                                                                cellpadding="0"
                                                                border="0"
                                                            >
                                                                <tr>
                                                                    <td
                                                                        width="20"
                                                                        height="20"
                                                                        align="center"
                                                                        valign="middle"
                                                                        style="background-color: #018F3B14; border-radius: 50%;"
                                                                    >
                                                                        <a href="{{facebookLink}}" target="_blank">
                                                                            <img
                                                                                src="{{facebookLogo}}"
                                                                                width="14"
                                                                                height="14"
                                                                                alt="Facebook"
                                                                                style="display: block; max-width: 100%; border: 0;"
                                                                            >
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td align="center" style="display: inline-block; padding: 0 5px;">
                                                            <table
                                                                role="presentation"
                                                                cellspacing="0"
                                                                cellpadding="0"
                                                                border="0"
                                                            >
                                                                <tr>
                                                                    <td
                                                                        width="20"
                                                                        height="20"
                                                                        align="center"
                                                                        valign="middle"
                                                                        style="background-color: #018F3B14; border-radius: 50%;"
                                                                    >
                                                                        <a href="{{twitterLink}}" target="_blank">
                                                                            <img
                                                                                src="{{twitterLogo}}"
                                                                                width="14"
                                                                                height="14"
                                                                                alt="X"
                                                                                style="display: block; max-width: 100%; border: 0;"
                                                                            >
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td align="center" style="display: inline-block; padding: 0 5px;">
                                                            <table
                                                                role="presentation"
                                                                cellspacing="0"
                                                                cellpadding="0"
                                                                border="0"
                                                            >
                                                                <tr>
                                                                    <td
                                                                        width="20"
                                                                        height="20"
                                                                        align="center"
                                                                        valign="middle"
                                                                        style="background-color: #018F3B14; border-radius: 50%;"
                                                                    >
                                                                        <a href="{{instagramLink}}" target="_blank">
                                                                            <img
                                                                                src="{{instagramLogo}}"
                                                                                width="14"
                                                                                height="14"
                                                                                alt="Instagram"
                                                                                style="display: block; max-width: 100%; border: 0;"
                                                                            >
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td align="center" style="display: inline-block; padding: 0 5px;">
                                                            <table
                                                                role="presentation"
                                                                cellspacing="0"
                                                                cellpadding="0"
                                                                border="0"
                                                            >
                                                                <tr>
                                                                    <td
                                                                        width="20"
                                                                        height="20"
                                                                        align="center"
                                                                        valign="middle"
                                                                        style="background-color: #018F3B14; border-radius: 50%;"
                                                                    >
                                                                        <a href="{{youtubeLink}}" target="_blank">
                                                                            <img
                                                                                src="{{youtubeLogo}}"
                                                                                width="14"
                                                                                height="14"
                                                                                alt="YouTube"
                                                                                style="display: block; max-width: 100%; border: 0;"
                                                                            >
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td align="center" style="display: inline-block; padding: 0 5px;">
                                                            <table
                                                                role="presentation"
                                                                cellspacing="0"
                                                                cellpadding="0"
                                                                border="0"
                                                            >
                                                                <tr>
                                                                    <td
                                                                        width="20"
                                                                        height="20"
                                                                        align="center"
                                                                        valign="middle"
                                                                        style="background-color: #018F3B14; border-radius: 50%;"
                                                                    >
                                                                        <a href="{{linkedinLink}}" target="_blank">
                                                                            <img
                                                                                src="{{linkedinLogo}}"
                                                                                width="14"
                                                                                height="14"
                                                                                alt="LinkedIn"
                                                                                style="display: block; max-width: 100%; border: 0;"
                                                                            >
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="font-size: 10px;
										font-weight: 400;
										color: #ffffff;
										margin:1rem 0 .2rem 0;
										text-align: center;">
                                                    <span style="font-weight: 500;">Lagos Office Address:</span>
                                                    {{firstOfficeAddress}}
                                                </p>
                                                <p style="font-size: 10px;
										font-weight: 400;
										color: #ffffff;
										margin: .2rem 0;
										text-align: center;">
                                                    <span style="font-weight: 500;">Abuja Office Address:</span>
                                                    {{secondOfficeAddress}}
                                                </p>
                                                <p style="font-size: 10px;
                                                font-weight: 400;
                                                color: #ffffff;
                                                margin: .2rem 0;
                                                text-align: center;">
                                                    <a href="tel:{{firstPhoneLink}}" style="text-decoration: none; color: white;">
                                                        <span style="color: #ffffff;">{{firstPhoneNumber}}</span>
                                                    </a>
                                                    |
                                                    <a href="tel:{{secondPhoneLink}}" style="text-decoration: none; color: white;">
                                                        <span style="color: #ffffff;">{{secondPhoneNumber}}</span>
                                                    </a>
                                                </p>
                                                <p style="font-size: 10px;
										font-weight: 400;
										color: #ffffff;
										margin: .2rem 0;
										text-align: center;">
                                                    <a href="mailto:{{secondEmail}}" style="text-decoration: none; color: white;">
                                                        <span style="color: #ffffff;">{{secondEmail}}</span>
                                                    </a>
                                                    |
                                                    <a href="{{websiteLink}}" style="text-decoration: none; color: white;">
                                                        <span style="color: #ffffff;">{{websiteLink}}</span>
                                                    </a>
                                                </p>
                                                <p style="font-size: 10px;
										font-weight: 400;
										color: #ffffff;
										margin: .2rem 0;
										text-align: center;">2025 Qshelter, All Rights Reserved</p>
                                                <p style="
											font-size: 12px;
											font-weight: 400;
											color:white;
											text-align: center;
											margin: .5rem 0;
										">
                                                    <a style="text-decoration: none; color: white;" href="{{unsubscribeLink}}">
                                                        <span style="color: #ffffff;">Unsubscribe</span>
                                                    </a>
                                                </p>
                                                <p style="font-size: 10px;
										font-weight: 600;
										color: #ffffff;
										text-align: center;
										margin: .5rem 0;">Powered by</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: middle; text-align: center;">
                                                <a style="margin: 0 auto; text-align: center;" href="{{qshelterLink}}">
                                                    <img
                                                        src="{{qshelterLogo}}"
                                                        alt="QShelter Logo"
                                                        width="100"
                                                        style="margin: .2rem 0 1rem 0"
                                                    >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
