<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Property Allocation</title>
</head>

<body style="margin:0; padding:0; background-color:#F5F7FA; font-family:Arial, sans-serif;">
    <table width="100%" cellpadding="0" cellspacing="0" style="background-color:#F5F7FA; padding: 40px 0;">
        <tr>
            <td align="center">
                <table width="460" cellpadding="0" cellspacing="0" style=" border-radius:10px; overflow:hidden;">
                    <tr>
                        <td>
                            <img src="{{bannerUrl}}" width="460" height="78" alt="ContriBuild"
                            style="display:block;" />

            </td>
        </tr>
    </table>

    <!-- Container -->
    <table width="460" cellpadding="0" cellspacing="0"
        style="background-color:#ffffff; border-radius:10px; overflow:hidden; margin: 20px 0;">

        <!-- Header -->


        <!-- Content -->
        <tr>
            <td style="padding: 24px; ">

                <h2 style="margin:0 0 10px 0; font-size:22px; font-weight:semibold;">
                    🔑 Congratulations!
                    Your Property is Provisionally Allocated!
                </h2>

                <p style="font-size:14px; line-height:22px; margin:25px 0;">
                    Hello {{homeBuyerName}},
                </p>

                <p style="font-size:14px; line-height:22px; margin:10px 0;">
                    Fantastic news! Based on your successful initial down payment for {{propertyDetail}}, the property
                    has been provisionally reserved for you.
                </p>

                <p style="font-size:14px; line-height:22px; margin:5px 0;">
                    Your Provisional Allocation Letter has been issued and is now available in your user dashboard under
                    the 'Contribution' section. Please continue your scheduled monthly contributions to fulfil your
                    total required equity ({{equity}}% of property cost).
                </p>






                <p style="font-size:14px; line-height:20px; margin-top:30px;">
                    Best,<br />
                    The ContriBuild Team.
                </p>

            </td>
        </tr>

    </table>

    <!-- Footer -->
    <table width="600" cellpadding="0" cellspacing="0" style="margin-top:15px; text-align:center; color:#033950">
        <tr>
            <td style="font-size:13px; padding:10px;">
                Need help? send an email to
                <a href="mailto:{{supportEmail}}" style="color:#033950; text-decoration:underline;">
                    {{supportEmail}}
                </a>
            </td>
        </tr>
        <tr>
            <td style="font-size:13px; padding-bottom:10px;">
                ContriBuild © {{year}}
            </td>
        </tr>
    </table>

    </td>
    </tr>
    </table>
</body>

</html>