<h2 style="margin:0 0 10px 0; font-size:22px; font-weight:600;">
    🔑 Congratulations! Your Property is Provisionally Allocated!
</h2>

<p style="font-size:14px; line-height:22px; margin:25px 0;">
    Hello {{homeBuyerName}},
</p>

<p style="font-size:14px; line-height:22px; margin:10px 0;">
    Fantastic news! Based on your successful initial down payment for {{propertyDetail}}, the property has been provisionally reserved for you.
</p>

<p style="font-size:14px; line-height:22px; margin:5px 0;">
    Your Provisional Allocation Letter has been issued and is now available in your user dashboard under the 'Contribution' section. Please continue your scheduled monthly contributions to fulfil your total required equity ({{equity}}% of property cost).
</p>

<p style="font-size:14px; line-height:20px; margin-top:30px;">
    Best, <br />
    The {{projectName}} Team.
</p>
