<h2 style="margin:0 0 10px 0; font-size:22px; font-weight:600;">
    📝 Action Required: Review & Accept Our New Terms & Conditions
</h2>

<p style="font-size:14px; line-height:22px; margin:25px 0;">
    Hello {{homeBuyerName}},
</p>

<p style="font-size:14px; line-height:22px; margin:10px 0;">
    {{projectName}} has updated its Terms & Conditions. To continue using the platform and contributing to your plan, you must review and accept the new terms.
</p>

<p style="font-size:14px; line-height:22px; margin:10px 0;">
    The next time you log into the {{projectName}} App, you will be prompted to accept the new terms before proceeding. Thank you for your cooperation.
</p>

<p style="font-size:14px; line-height:20px; margin-top:30px;">
    Best, <br />
    The {{projectName}} Team.
</p>
